{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Image Component Reduction</title>
	<script src="{% static 'js/main.js' %}" defer></script>
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
	<header>
		<div class="header">
			<span>Image Component Reduction using PCA</span>
		</div>
	</header>

	<div class="container">
		<!-- Left hand side -->
		<div class="left">
			<span>Before Compression</span>
			<div class="custom-file-input" id="file-input">
				<div class="custom-file-input-border" id="fakeFile">
					<div class="vector-upload">
						<img src="{% static 'assets/Vector 2.png' %}">
						<input type="file" id="selectedFile" name="banner-image-fake"
							accept="image/png, image/jpeg, image/jpg" hidden="hidden" />
						<input type="text" id="uploadFile" name="banner-image-real" hidden />
					</div>
					<span>Upload</span>
				</div>
			</div>
			<div class="loader-wrapper" id="loader-wrapper">
				<div class="loader-container">
					<img src="{% static 'assets/loading.svg' %}" width="50" height="50" class="loader">
				</div>
			</div>
			<div class="image-preview" id="image-preview"></div>
			<div class="feedback" id="feedback"></div>

			<label for="variance">Variance: </label>
			<input type="text" id="variance" name="variance" value=0.99 />
			<br>
			<div class="span-class"><span>Components</span></div>
			<br>
			<label for="red-input">Red: </label>
			<input type="text" id="red-input" name="red-input" class="not-writable" readonly />
			<br>
			<label for="green-input">Green: </label>
			<input type="text" id="green-input" name="green-input" class="not-writable" readonly />
			<br>
			<label for="blue-input">Blue: </label>
			<input type="text" id="blue-input" name="blue-input" class="not-writable" readonly />
		</div>

		<!-- Right hand side -->
		<div class="right">
			<span>After Compression</span>
			<div class="file-output" id="file-output">
			</div>
			<br>
			<span>Components</span>
			<br>
			<label for="red-output">Red: </label>
			<input type="text" id="red-output" name="red-output" class="not-writable" readonly />
			<br>
			<label for="greeb-output">Green: </label>
			<input type="text" id="green-output" name="green-output" class="not-writable" readonly />
			<br>
			<label for="blue-output">Blue: </label>
			<input type="text" id="blue-output" name="blue-output" class="not-writable" readonly />
		</div>
	</div>

</body>

</html>